@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    font-family: Montserrat;
}
h1{
    color: #302f2f;
    text-align: center;
    margin: 15px;
    font-size: 1.8em;
}
header > p{
    background-color: rgb(15, 14, 14);
    color: aliceblue;
    text-align: center;
    padding: 15px;
    font-weight: 200;
}
header > div{
    background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.623)), url(estilo/img/wallpaper.jpeg);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.623);
    height: 320px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 20%;
}
header > div >div{
    color: aliceblue;
    width: 400px;
    padding: 30px;
    line-height: 2.5em;
    padding-top: 90px;
}

section{
    margin: 20px;
    text-align: center;
    line-height: 2em;
}
section > div{
    margin: 20px;
}

.conteudo{
    background-color: rgba(17, 17, 17, 0.034);
    margin: 7px;
    width: 260px;
    display: inline-block;
    position: relative;
    border-radius: 4px;
    
}
.conteudo:hover{
    background-color: rgba(17, 17, 17, 0.13);
    box-shadow:0px 0px 0px 1.4px #1f1124e1 inset;
    transition-duration: 0.7s;
    
}
.comprar {
    position: absolute;
    background: rgba(243, 238, 238, 0.6);
    height: 225px;
    width: 260px;
    top: 0;
    opacity: 0;
    transition: 1.2s ease-in-out;
  }
  
  .comprar:hover {
    opacity: 1;
  }
  .comprar a {
    color: white;
    font-size: 1.1rem;
    padding: 5px 30px;
    background: #1f1124e1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
  }
a{
    text-decoration: none;
}

footer{
    background-color: rgb(15, 14, 14);
    color: aliceblue;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
footer > a {
    color: white;
    text-decoration: none;
}
footer > a:hover{
    text-decoration: underline;
    font-weight: 600;
}

@media(max-width:690px){
    h1{
        font-size: 1.6em;
    }
    header > div > div{
        width: 300px;
        font-size: 0.9em;
    }
}